input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(0%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.timePickers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


@media (max-width: 575px) {
    .timePickers {  grid-template-columns: auto;}
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #888;
}
