:root {
  --backgroundColor: #c58500;
}

footer {
  width: 100%;
}

.g-container {
  width: 100%;
  height: 100%;
}

.date {
  width: 100%;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 3%;
}

a.studioStoyLink {
  position: relative;
  top: -4rem;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--backgroundColor);
  color: #ffffff;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow 0.3s, background-color 0.2s ease-in-out;
}

a.studioStoyLink:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(10);
  color: #ffcc00;
}

a.studioStoyLink:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  z-index: -1;
  animation: shiningEffect 1s infinite;
}

a.studioStoyLink:active {
  background-color: darkgray;
}

.g-footer {
  position: absolute;
  bottom: 0;
  height: 8.5rem;
  width: 100%;
  background: var(--backgroundColor);
  filter: blur(5px);
}
.g-footer:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
}

.g-bubble {
  position: absolute;
  border-radius: 50%;
  background-color: var(--backgroundColor);
}

.g-bubble:nth-child(0) {
  left: 96%;
  top: 79px;
  width: 81px;
  height: 81px;
  animation: moveToTop 8.56s ease-in-out -1.328s infinite;
}

.g-bubble:nth-child(1) {
  left: 50%;
  top: 51px;
  width: 144px;
  height: 144px;
  animation: moveToTop 5.86s ease-in-out -0.827s infinite;
}

.g-bubble:nth-child(2) {
  left: 85%;
  top: 11px;
  width: 113px;
  height: 113px;
  animation: moveToTop 6.69s ease-in-out -1.607s infinite;
}

.g-bubble:nth-child(3) {
  left: 97%;
  top: 99px;
  width: 83px;
  height: 83px;
  animation: moveToTop 8.64s ease-in-out -0.557s infinite;
}

.g-bubble:nth-child(4) {
  left: 59%;
  top: 96px;
  width: 80px;
  height: 80px;
  animation: moveToTop 5.84s ease-in-out -1.948s infinite;
}

.g-bubble:nth-child(5) {
  left: 68%;
  top: 63px;
  width: 110px;
  height: 110px;
  animation: moveToTop 8.09s ease-in-out -1.426s infinite;
}

.g-bubble:nth-child(6) {
  left: 64%;
  top: 50px;
  width: 118px;
  height: 118px;
  animation: moveToTop 7.66s ease-in-out -1.649s infinite;
}

.g-bubble:nth-child(7) {
  left: 31%;
  top: 47px;
  width: 66px;
  height: 66px;
  animation: moveToTop 7.34s ease-in-out -1.166s infinite;
}

.g-bubble:nth-child(8) {
  left: 89%;
  top: 82px;
  width: 113px;
  height: 113px;
  animation: moveToTop 5.45s ease-in-out -0.937s infinite;
}

.g-bubble:nth-child(9) {
  left: 48%;
  top: 30px;
  width: 132px;
  height: 132px;
  animation: moveToTop 8.78s ease-in-out -0.436s infinite;
}

.g-bubble:nth-child(10) {
  left: 100%;
  top: 18px;
  width: 89px;
  height: 89px;
  animation: moveToTop 5.99s ease-in-out -1.257s infinite;
}

.g-bubble:nth-child(11) {
  left: 28%;
  top: 69px;
  width: 88px;
  height: 88px;
  animation: moveToTop 5.9s ease-in-out -1.641s infinite;
}

.g-bubble:nth-child(12) {
  left: 78%;
  top: 27px;
  width: 127px;
  height: 127px;
  animation: moveToTop 5.35s ease-in-out -0.769s infinite;
}

.g-bubble:nth-child(13) {
  left: 52%;
  top: 74px;
  width: 53px;
  height: 53px;
  animation: moveToTop 8.72s ease-in-out -1.885s infinite;
}

.g-bubble:nth-child(14) {
  left: 24%;
  top: 41px;
  width: 73px;
  height: 73px;
  animation: moveToTop 7.12s ease-in-out -0.979s infinite;
}

.g-bubble:nth-child(15) {
  left: 39%;
  top: 102px;
  width: 137px;
  height: 137px;
  animation: moveToTop 9.54s ease-in-out -1.233s infinite;
}

.g-bubble:nth-child(16) {
  left: 9%;
  top: 35px;
  width: 148px;
  height: 148px;
  animation: moveToTop 8.91s ease-in-out -0.533s infinite;
}

.g-bubble:nth-child(17) {
  left: 50%;
  top: 87px;
  width: 70px;
  height: 70px;
  animation: moveToTop 8.89s ease-in-out -1.795s infinite;
}

.g-bubble:nth-child(18) {
  left: 58%;
  top: 36px;
  width: 60px;
  height: 60px;
  animation: moveToTop 8.35s ease-in-out -0.713s infinite;
}

.g-bubble:nth-child(19) {
  left: 93%;
  top: 37px;
  width: 69px;
  height: 69px;
  animation: moveToTop 9.69s ease-in-out -1.285s infinite;
}

.g-bubble:nth-child(20) {
  left: 7%;
  top: 38px;
  width: 86px;
  height: 86px;
  animation: moveToTop 8.46s ease-in-out -0.841s infinite;
}

.g-bubble:nth-child(21) {
  left: 74%;
  top: 39px;
  width: 133px;
  height: 133px;
  animation: moveToTop 9.88s ease-in-out -0.172s infinite;
}

.g-bubble:nth-child(22) {
  left: 21%;
  top: 28px;
  width: 91px;
  height: 91px;
  animation: moveToTop 8.58s ease-in-out -0.345s infinite;
}

.g-bubble:nth-child(23) {
  left: 82%;
  top: 99px;
  width: 87px;
  height: 87px;
  animation: moveToTop 6.19s ease-in-out -1.201s infinite;
}

.g-bubble:nth-child(24) {
  left: 83%;
  top: 30px;
  width: 138px;
  height: 138px;
  animation: moveToTop 5.38s ease-in-out -0.474s infinite;
}

.g-bubble:nth-child(25) {
  left: 28%;
  top: 12px;
  width: 100px;
  height: 100px;
  animation: moveToTop 6.19s ease-in-out -0.694s infinite;
}

.g-bubble:nth-child(26) {
  left: 83%;
  top: 52px;
  width: 150px;
  height: 150px;
  animation: moveToTop 6.86s ease-in-out -1.534s infinite;
}

.g-bubble:nth-child(27) {
  left: 86%;
  top: 99px;
  width: 52px;
  height: 52px;
  animation: moveToTop 8.06s ease-in-out -1.029s infinite;
}

.g-bubble:nth-child(28) {
  left: 39%;
  top: 89px;
  width: 148px;
  height: 148px;
  animation: moveToTop 9.21s ease-in-out -0.374s infinite;
}

.g-bubble:nth-child(29) {
  left: 59%;
  top: 11px;
  width: 60px;
  height: 60px;
  animation: moveToTop 9.2s ease-in-out -1.762s infinite;
}

.g-bubble:nth-child(30) {
  left: 67%;
  top: 39px;
  width: 102px;
  height: 102px;
  animation: moveToTop 7.49s ease-in-out -0.775s infinite;
}

.g-bubble:nth-child(31) {
  left: 91%;
  top: 84px;
  width: 150px;
  height: 150px;
  animation: moveToTop 9.25s ease-in-out -0.153s infinite;
}

.g-bubble:nth-child(32) {
  left: 25%;
  top: 34px;
  width: 57px;
  height: 57px;
  animation: moveToTop 6.53s ease-in-out -1.548s infinite;
}

.g-bubble:nth-child(33) {
  left: 21%;
  top: 45px;
  width: 78px;
  height: 78px;
  animation: moveToTop 9.21s ease-in-out -0.348s infinite;
}

.g-bubble:nth-child(34) {
  left: 37%;
  top: 109px;
  width: 100px;
  height: 100px;
  animation: moveToTop 6.26s ease-in-out -1.437s infinite;
}

.g-bubble:nth-child(35) {
  left: 7%;
  top: 96px;
  width: 77px;
  height: 77px;
  animation: moveToTop 6.2s ease-in-out -0.132s infinite;
}

.g-bubble:nth-child(36) {
  left: 91%;
  top: 53px;
  width: 133px;
  height: 133px;
  animation: moveToTop 9.95s ease-in-out -0.102s infinite;
}

.g-bubble:nth-child(37) {
  left: 81%;
  top: 91px;
  width: 76px;
  height: 76px;
  animation: moveToTop 8.67s ease-in-out -1.883s infinite;
}

.g-bubble:nth-child(38) {
  left: 19%;
  top: 49px;
  width: 107px;
  height: 107px;
  animation: moveToTop 9.18s ease-in-out -1.242s infinite;
}

.g-bubble:nth-child(39) {
  left: 13%;
  top: 87px;
  width: 146px;
  height: 146px;
  animation: moveToTop 8.6s ease-in-out -1.138s infinite;
}

.g-bubble:nth-child(40) {
  left: 69%;
  top: 106px;
  width: 101px;
  height: 101px;
  animation: moveToTop 5.96s ease-in-out -0.064s infinite;
}

.g-bubble:nth-child(41) {
  left: 36%;
  top: 17px;
  width: 57px;
  height: 57px;
  animation: moveToTop 7.74s ease-in-out -0.736s infinite;
}

.g-bubble:nth-child(42) {
  left: 18%;
  top: 39px;
  width: 113px;
  height: 113px;
  animation: moveToTop 6.49s ease-in-out -1.101s infinite;
}

.g-bubble:nth-child(43) {
  left: 29%;
  top: 100px;
  width: 73px;
  height: 73px;
  animation: moveToTop 6.84s ease-in-out -1.479s infinite;
}

.g-bubble:nth-child(44) {
  left: 67%;
  top: 63px;
  width: 149px;
  height: 149px;
  animation: moveToTop 7.31s ease-in-out -1.76s infinite;
}

.g-bubble:nth-child(45) {
  left: 2%;
  top: 101px;
  width: 61px;
  height: 61px;
  animation: moveToTop 8.54s ease-in-out -0.486s infinite;
}

.g-bubble:nth-child(46) {
  left: 51%;
  top: 30px;
  width: 59px;
  height: 59px;
  animation: moveToTop 6.87s ease-in-out -1.467s infinite;
}

.g-bubble:nth-child(47) {
  left: 24%;
  top: 91px;
  width: 87px;
  height: 87px;
  animation: moveToTop 5.01s ease-in-out -0.02s infinite;
}

.g-bubble:nth-child(48) {
  left: 70%;
  top: 38px;
  width: 124px;
  height: 124px;
  animation: moveToTop 6.57s ease-in-out -1.181s infinite;
}

.g-bubble:nth-child(49) {
  left: 86%;
  top: 64px;
  width: 54px;
  height: 54px;
  animation: moveToTop 8.22s ease-in-out -0.532s infinite;
}

.g-bubble:nth-child(50) {
  left: 45%;
  top: 22px;
  width: 60px;
  height: 60px;
  animation: moveToTop 9.63s ease-in-out -1.571s infinite;
}

@keyframes moveToTop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.08;
    transform: translate(-50%, -120px) scale(0.3);
  }
}
@keyframes shiningEffect {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.76);
  }
  50% {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.27);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
}

/*# sourceMappingURL=EpicFooter.css.map */
